<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="mystyle.css" />
    <title>Edit Product</title>
</head>
<body>
    {{!-- Thanh công cụ --}}
    <ul class="nav nav-tabs" style="background-color: blue;">
        <li class="nav-item" style="width: 200px;">
            <h3 style="color: white; margin-left: 20%;;">HS LEGO</h3>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="/product">Products</a>
        </li>
    </ul>
    <h1 style="text-align: center; color:red;">Update Product</h1>
    <div>
        <form class="border" style="text-align: center;" action="/edit" method="post">
            <fieldset>
                <input type="hidden" name="txtId" value="{{product._id}}">
                Name: <br>
                <input type="text" name="txtName" id="txtName" value="{{product.name}}">
                <br>
                Price: <br>
                <input type="text" name="txtPrice" id="txtPrice" value="{{product.price}}">
                <span style="color: red;">{{error}}</span>
                <br>
                Picture URL: <br>
                <input type="text" name="txtPicURL" id="txtPicURL" value="{{product.pic}}">
                <br>
                <br>
                <input type="submit" value="Update">
            </fieldset>
        </form>
        <br>
    </div style="margin: 50px 150px;">
    <h2 style="color: blue;">Product's Information</h2>
    <div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Picture</th>
            </tr>
            <tr>
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img src="{{product.pic}}" width="200" height="200"></td>
            </tr>
        </table>
    </div>
</body>
</html>