<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="mystyle.css" />
    <title>ATN-LEGO</title>
</head>

<body style="background-color: rgb(195, 236, 236);">
    {{!-- Thanh công cụ --}}
    <ul class="nav nav-tabs" style="background-color: blue;">
        <li class="nav-item" style="width: 200px;">
            <h3 style="color: white; margin-left: 20%;;">ATN LEGO</h3>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="/product">Products</a>
        </li>
    </ul>
    <br>
    <h1 style="text-align: center; color:red;">ATN-LEGO</h1>
    <div class="border border-primary" style="margin: 50px 150px;">
        <h3 style="color: blue;">LEGOs</h3>
        <br>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Picture</th>
                <th></th>
                <th></th>
            </tr>
            {{#each products}}
            <tr>
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td ><img src="{{pic}}" width="200" height="200"></td>
                <td><a href="/edit?id={{_id}}">Edit</a></td>
                <td><a onclick="return confirm('Are you sure to delete this item???')" href="/delete?id={{_id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </table>        
    </div>
    <script>
        alert(errorDelete);
    </script>
</body>

</html>